<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @registration.student_id %>
</p>

<p>
  <b>Post:</b>
  <%= @registration.post_id %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
