<div class="container">
	<div class="hero-unit">
		<h1>Create a teach post</h1>
	</div>		
</div>

<div class="container">
	<% if !current_user %>
	<%= render 'shared/error' %> <!-- please login before creating post message-->
	<% end %>
	
<%= simple_form_for @post do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.input :title %>
	<%= f.input :content, :as => :text, :input_html => { :rows => "4" } %>
	<%= f.input :price, :placeholder => "$", :hint => "price should be in USD, per lesson", :input_html => { :size => "6" } %> 
	<%= f.input :address %>
	<%= f.input :city %>
	<%= f.input :state %>
	<%= f.input :zip, :input_html => { :size => "5" } %>
	<%= f.submit 'Create'%>
<% end %>
</div>


