<h1><%= @post.title %></h1>
<h2>Location: <%= @post.city %>, <%= @post.state %> </h2>
<p>===================</p>
<p><strong><%= @post.content %></p>
<p>===================</p>
<h2><%= @post.price %></h2>

<br><br>
<%= link_to "HOME", root_path %>
