<div class="container">
	<div class="hero-unit">

	<h2><%= @post.title %></h2> by <%= link_to @post.user.name, profile_path %>
	<h3>Location: <%= @post.city %>, <%= @post.state %> </h3>
	<p><strong><%= @post.content %></p>
	<h3><%= @post.price %></h3>

</div>

<%= link_to "HOME", root_path %>
</div>


