<!DOCTYPE html>
<html>
<head>
  <title>Hobster</title>
  <!-- <%= stylesheet_link_tag :all %> -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint', :media => 'screen' %>
  <!-- <%= stylesheet_link_tag 'bootstrap.min', :media => 'screen' %> -->
</head>
<body>

	<%= render 'layouts/header' %>
	<%= render 'layouts/authprovider' %>
	<section class="round">
		<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
		<%= yield %>
	</section>
	
	<%= debug params if Rails.env.development? %>

</body>
</html>
